body {
  background-image: url(OFC_bg.jpg);
  background-size: cover;
}

h1 {
  color: white;
  font-size: 5vw;
  margin: 6.5% 0;
}

img {
  cursor: pointer;
}

.title {
  text-align: center;
}

.title button {
  font-size: 2vw;
  padding: 1% 2%;
  font-weight: bold;
}

button.start-left {
  margin-right: 2%;
}

button.start-right {
  margin-left: 2%;
}

.boxes {
  width: 100%;
}

.boxes-1 {
  padding: 2% 0 2% 8%;
  width: 40%;
  display: inline-block;
}

.boxes-2 {
  padding: 2% 0;
  width: 40%;
  display: inline-block;
}

.box-row {
  margin-bottom: 2%;
}

.box {
  width: 5vw;
  height: 7.1vw;
  border: solid 1px #888888;
  margin-right: 2%;
  display: inline-block;
}

.box img {
  width: 5vw;
  position: absolute;
}

.my-area {
  width: 100%;
  margin-top: 2%;
  position: relative;
}

.my-cards .box {
  border: none !important;
  text-align: left;
}

.btns_grave {
  position: absolute;
  width: 15%;
  display: inline-block;
  text-align: center;
  margin: 0 5%;
  top: 31%;
}

.btns, .grave {
  width: 100%;
}

.btns {
  position: absolute;
  top: -60%;
}

.mygrave {
  width: 100%;
  border: 1px #888888 solid;
}

.mygrave .box {
  width: 5vw;
  display: inline-block;
  margin: 3%;
  text-align: left;
}

button.back-btn {
  position: absolute;
  width: 12%;
  padding: 0.7%;
  top: 90%;
  left: 6.6%;
  margin-bottom: 0;
  font-size: 1.5vw;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.btns button {
  width: 80%;
  padding: 4%;
  font-size: 1.7vw;
  margin-bottom: 6%;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.myboxes {
  width: 50%;
  display: block;
  margin: 0 auto;
  margin-bottom: 4%;
}

.myboxes .box {
  width: 6.6vw;
  height: 9.4vw;
  border: solid 1px #888888;
  margin-right: 2%;
  display: inline-block;
}

.myboxes .box img {
  width: 6.6vw;
}

.black-boxes {
  position: absolute;
  width: 17%;
  background-color: black;
  left: 73%;
  top: -34%;
  padding: 2%;
}

.black-boxes .box {
  width: 5vw;
  height: 7.1vw;
  border: solid 1px #414141;
  display: inline-block;
  margin-right: 3%;
}

.black-boxes .box img {
  widows: 5vw;
}

.select-cards {
  padding: 2%;
  text-align: center;
}

.select-cards .box {
  text-align: left;
}

.select-cards .ddcontainer {
  margin: 0 1%;
}

.select-card-joker {
  text-align: left;
  margin-left: 2.2%;
}

.select-boxes {
  margin: 0 auto;
  background-color: black;
  width: 80%;
  padding: 3% 0;
  position: relative;
}

.select-box-row {
  position: relative;
}

button.delete-btn {
  font-size: 1.2vw;
  border: none;
  z-index: 1;
  display: inline-block;
  background-color: white;
  cursor: pointer;
  color: black;
  padding: 0 0.5%;
  position: absolute;
  margin: 0.2% 0 0 4.4%;
  border-radius: 50%;
}

button.select-btn {
  font-size: 1.8vw;
  padding: 0.8% 7%;
  margin: 0 2%;
}

.droptarget {
  height: 100%;
}

.ddcontainer {
  height: 100%;
}

.ddcontainer:active {
  height: 100%;
}

.ddcontainersource {
  height: 100%;
}

.ddcontainersource:active {
  height: 100%;
}