body {
  background-image: url(OFC_bg.jpg);
  background-size: cover;
}

h1 {
  color: white;
  font-size: 5vw;
  margin: 6.5% 0;
}

.title {
  text-align: center;
}

.title button {
  font-size: 2vw;
  padding: 1% 2%;
  font-weight: bold;
}

button.start-left {
  margin-right: 2%;
}

button.start-right {
  margin-left: 2%;
}